<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test thread-count="2" name="ChromeTest">
    <parameter name="browser" value="chrome"></parameter>
    <classes>
        <class name="Tests.AssignedTest" />
    </classes>
    </test>
<!--    <test thread-count="2" name="FirefoxTest">-->
<!--    <parameter name="browser" value="firefox"></parameter>-->
<!--    <classes>-->
<!--    <class name="Tests.AssignedTest" />-->
<!--    </classes>-->
<!--    </test>-->
<!--    <test thread-count="2" name="EdgeTest">-->
<!--    <parameter name="browser" value="edge"></parameter>-->
<!--        <classes>-->
<!--            <class name="Tests.AssignedTest" />-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test verbose="2" preserve-order="true" name="/home/knoldus/IdeaProjects/Parabank_Testing">-->
<!--        <classes>-->
<!--            <class name="Tests.AssignedTest">-->
<!--                <methods>-->
<!--                    <include name="openNewAccount"/>-->
<!--                    <include name="validTransferFunds"/>-->
<!--                    <include name="invalidFundsTransfer"/>-->
<!--                    <include name="validBillPay"/>-->
<!--                    <include name="invalidBillPay"/>-->
<!--                    <include name="validLoanRequest"/>-->
<!--                    <include name="invalidLoanRequest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

</suite>